*{
    margin: 0;
    padding: 0;
}
.container {
    width: 50%;
    margin: auto;
    background: #1abc9c;
    text-align: center;
}
.login-section {
    margin-top: 110px;
}
h1 {
    color: white;
    padding-top: 68px;
    font-size: 53px;
    padding-bottom: 30px;
}
input {
    display: block;
    width: 73%;
    margin: 40px auto;
    padding: 17px 21px;
    border: none;
    border-radius: 5px;
    transition: all .5s;
}
input:focus {
    outline: none;
    box-shadow: 0 0 20px white;
}
button {
    background: white;
    padding: 18px 63px;
    border: none;
    font-size: 20px;
    margin-bottom: 45px;
    border-radius: 24px;
    transition: all .5s;
}
button:hover {
    transform: scale(1.1);
}